@charset "utf-8";
.iconbutton {
    vertical-align: middle;
    cursor: pointer;
    margin-left: 5px;
    //todo 需要sprite化
}

.ui-datepicker {
    padding: 10px;
    box-shadow: 1px 1px 5px #888;
    .ui-datepicker-header {
        background: url(../images/home/ui-bg_highlight-soft.png) repeat-x;
        border: 1px #4379d5 solid;
    }
    table {
        border: 1px solid #a9b9ff;
        border-top: 0 none;
    }
    td {
        padding: 2px;
    }
    .ui-state-default{
        text-align: center;
    }
    .ui-datepicker-prev span {
        @extend %script_datepicker_icon_prev;
        left: 18px;
    }
    .ui-datepicker-next span {
        @extend %script_datepicker_icon_next;
        right: 0;
    }
    .ui-timepicker-div {
        dt {
            display: inline-block;
            width: 25%;
            margin-bottom: 6px;
            vertical-align: middle;
        }
        dd {
            display: inline-block;
            width: 75%;
            margin: 0 0 6px 0;
            vertical-align: middle;
        }
        .ui-slider{
            .ui-slider-handle{
                background: #fff;
                border: 1px #b8bcbf solid;
                overflow: hidden;
                width: 6px;
                height: 12px;
                top: -5px;
            }
            &.ui-slider-horizontal {
                background: url(../images/datepicker/ui-slider-horizontal-bg.png) repeat-x;
                height: 3px;
            }
        }
    }
    .ui-datepicker-buttonpane button {
        background: url(../images/pushbutton/toolbar_btn.png) repeat-x;
        height: 30px;
        padding: 0 15px;
        border: 1px solid #ccc;
        border-radius: 2px;
        color: #000;
        cursor: pointer;
        &:hover{
            background: url(../images/pushbutton/toolbar_btn_hover.png) repeat-x;
            color: #fff;
            border-color:  #0e6fa6;
        }
    }
    .ui-state-highlight {
        background: #f0f0f0;
        border: 1px #cecece solid;
    }
    .ui-priority-secondary{
        opacity: 1;
        filter: alpha(opacity=1);
        -moz-opacity: 1;
    }
}
