/*******************************************
* 页面头部样式表
*******************************************/
.ui-layout-pane-west{
    z-index:10 !important;
}
.ui-layout-resizer {
    background: url(../images/home/bg-resizer.png) no-repeat;
}

.ui-layout-toggler-west-open {
    background: url(../images/home/west-nav-open.png) no-repeat;
    border: none;
}

.ui-layout-toggler-west-closed {
    background: url(../images/home/west-nav-close.png) no-repeat;
    border: none;
    width: 9px;
}

.ui-layout-toggler-north-open {
    background: url(../images/home/north-nav-open.png) no-repeat;
}

.ui-layout-toggler-north-closed {
    background: url(../images/home/north-nav-close.png) no-repeat;
}

/*消息提示*/
.appMsg,
.userName{
    color: yellow;
    font-weight: bold;
}


.ui-layout-north {
    background: url(../images/home/head_bg.png) repeat-x;
    height: 56px;
    overflow: visible;
}

.headerBg {
    background: url(../images/home/headerBg.png) no-repeat;
    height: 56px;
}

.header-bottom {
    width: 100%;
    height: 3px;
    background: #c7f0fc;
}

.date {
    position: absolute;
    top: 25px;
    left: 500px;
    color: #fff;
}

.date p {
    font-size: 12px;
}

.date p span {
    margin-left: 85px;
}

.headerLogo {
    position: absolute;
    top: 0;
    left: 20px;
    width: 300px;
    height: 49px;
    background: url(../images/home/logo.png) no-repeat;
}

.headerAction {
    position: absolute;
    top: 2px;
    right: 50px;
    color: #fff;
}

.action {
    padding-left: 10px;
    position: relative;
}

.action:hover {
    cursor: pointer;
}

.action a {
    color: white;
    margin-left: 5px;
}

.action_skin {
    padding-left: 25px;
    background: url(../images/head/skins.png) no-repeat;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    display: inline-block;
}

.action_exit {
    padding-left: 25px;
    background: url(../images/head/exit.png) no-repeat;
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    display: inline-block;
}

.action_home {
    padding-left: 25px;
    background: url(../images/head/home.png) no-repeat;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    display: inline-block;
}

.action_password {
    padding-left: 25px;
    background: url(../images/head/password.png) no-repeat;
    line-height:20px;
    display:inline-block;
}

.action_language{
    padding-left: 25px;
    background: url(../images/head/language.png) no-repeat;
    line-height:20px;
    display:inline-block;
}

.skins {
    width: 140px;
    top: 20px;
    padding-top: 13px;
    position: absolute;
    left: -15px;
    display: none;
    z-index: 9;
}

.skins-cont {
    position: relative;
    border: 1px solid #ccc;
    background: #fff;
    padding: 15px 8px 5px 8px;
}

.skins-cont-top {
    position: absolute;
    z-index: 2;
    width: 19px;
    height: 13px;
    background: url(../images/home/skins-top.png) no-repeat;;
    top: -13px;
    left: 27px;
}

.skins-list li{
    border:1px solid #ccc;
    border-radius: 3px;
    background: #e6eef2;
    margin-bottom: 10px;
    list-style-type: none;
}

.skins-list div {
    background: url(../images/sprite.png) no-repeat;
    width: 120px;
    height: 88px;
    position: relative;
}

.skins-list .skin-simple{
    background-position: 0 -50px;
}

.skins-list .skin-classics{
    background-position: -150px -50px;
}

.skins-list .skin-tabs{
    background-position: 0 -150px;
}

.skins-list .skin-mobile{
    background-position: -150px -150px;
}

.skins-list span{
    position: absolute;
    right: 2px;
    bottom: 3px;
    background: #8d9294;
    height: 22px;
    padding: 0 10px;
    border-radius: 10px;
    font:12px/22px "宋体";
}

.skins-list .active span{
    background: #fa0 url(../images/sprite-horizon.png) right 0 no-repeat;
    padding-right: 25px;
}


.skins-list li:hover{
    border-color: #fa0;
}
.skins-list li:hover span{
    background-color: #fa0;
}


.skin-header {
    position: absolute;
    right: 50px;
    top: 40px;
}

.skin-header ul li {
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-left: 3px;
    cursor: pointer;
    overflow: hidden;
}

.skin-blue {
    background: url(../images/head/skin-blue.gif) no-repeat;
}

.skin-blue.on {
    background: url(../images/head/skin-blue-on.gif) no-repeat;
}

.skin-green {
    background: url(../images/head/skin-green.gif) no-repeat;
}

.skin-green.on {
    background: url(../images/head/skin-green-on.gif) no-repeat;
}

.skin-yellow {
    background: url(../images/head/skin-yellow.gif) no-repeat;
}

.skin-yellow.on {
    background: url(../images/head/skin-yellow-on.gif) no-repeat;
}

.skin-red {
    background: url(../images/head/skin-red.gif) no-repeat;
}

.skin-red.on {
    background: url(../images/skin-red-on.gif) no-repeat;
}

.ztree {
    padding: 0 0 0 5px;
}

.bg-menu-top {
    float: left;
    background: url(../images/bg-ztree.gif) no-repeat;
    display: block;
    width: 198px;
    height: 38px;
}