/*******************************************
* 样式表
*******************************************/
.label_title {
    font: bold 14px/30px Arial;
    color: #4360b4;
    vertical-align: middle;
    height: 30px;
}

.td_tittle_bg .label_title {
    color: #2755F0;
}