<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.directwebremoting.org/schema/spring-dwr
		http://www.directwebremoting.org/schema/spring-dwr-3.0.xsd
		http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd"
       default-lazy-init="true">

    <!-- 自动扫描注解 -->
    <context:annotation-config/>
    <context:component-scan base-package="com.jxtech"/>
    <context:property-placeholder
            location="file:${jxtech.web.realpath}/WEB-INF/conf/base.properties"/>

    <bean id="jndidataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="CTDataSource"/>
        <property name="resourceRef" value="true"/>
    </bean>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="${jx.db.driver}"/>
        <property name="url" value="${jx.db.url}"/>
        <property name="username" value="${jx.db.user}"/>
        <property name="password" value="${jx.db.password}"/>
        <property name="initialSize" value="10"/>
        <property name="maxActive" value="100"/>
        <property name="maxIdle" value="50"/>
        <property name="minIdle" value="10"/>
        <property name="removeAbandonedTimeout" value="120"/>
        <property name="removeAbandoned" value="true"/>
    </bean>
    <bean id="jxParams" class="com.jxtech.common.JxParams"
          init-method="init" lazy-init="false">
        <property name="userInfoUrl" value="${jx.comtop.userinfourl}"/>
        <property name="loginUrl" value="${jx.loginurl}"/>
        <property name="reportUrl" value="${jx.report.url}"/>
        <property name="comtopUrl" value="${jx.comtop.url}"/>
        <property name="doclink" value="${jx.doclink}"/>
        <property name="docpath" value="${jx.docpath}"/>
        <property name="jndi" value="${jx.db.jndi}"/>
        <property name="obpmUser" value="${jx.obpm.user}"/>
        <property name="obpmPass" value="${jx.obpm.pass}"/>
        <property name="obpmJndi" value="${jx.obpm.jndi}"/>
        <property name="constantConnection" value="${jx.db.constantConnection}"/>
        <property name="fileTypes">
            <map>
                <entry key="BASE">
                    <value>./skin/comtop/images/</value>
                </entry>
                <entry key="FILE">
                    <value>file-file.jpg</value>
                </entry>
                <entry key="image/png">
                    <value></value>
                </entry>
                <entry key="image/jpeg">
                    <value></value>
                </entry>
                <entry key="image/pjpeg">
                    <value></value>
                </entry>
                <entry key="image/bmp">
                    <value></value>
                </entry>
                <entry key="text/plain">
                    <value>file-txt.jpg</value>
                </entry>
                <entry key="application/vnd.ms-powerpoint">
                    <value>file-ppt.png</value>
                </entry>
                <entry key="application/msword">
                    <value>file-doc.png</value>
                </entry>
                <entry key="application/pdf">
                    <value>file-pdf.png</value>
                </entry>
                <entry key="application/vnd.ms-excel">
                    <value>file-excel.png</value>
                </entry>
            </map>
        </property>
        <property name="sqlFiles">
            <list>
                <value>../sql/jxplatform/install.sql</value>
            </list>
        </property>
        <property name="authenticate" value="${jx.authenticate.class}"/>
        <property name="permission" value="${jx.permission.class}"/>
    </bean>

    <!-- DWR -->
    <!-- 启用 annotation 配置模式 -->
    <dwr:configuration>
        <dwr:convert type="bean" class="com.jxtech.jbo.JboIFace">
            <dwr:include method="attachmentCount"/>
            <dwr:include method="children"/>
            <!-- 不能添加data方法，data中的数据格式较为复杂，一些格式处理不了，建议直接使用getString方法 或经过转换的datas对象
                <dwr:include method="data" /> -->
            <dwr:include method="datas"/>
            <dwr:include method="getString"/>
            <dwr:include method="deleteChildren"/>
            <dwr:include method="jboname"/>
            <dwr:include method="uidValue"/>
            <dwr:include method="readonly"/>
        </dwr:convert>
        <dwr:convert type="bean" class="com.jxtech.jbo.base.JxTable">
            <dwr:exclude method="tableModle"/>
        </dwr:convert>
        <dwr:convert type="bean" class="com.jxtech.jbo.JboSetIFace">
            <dwr:include method="jboname"/>
            <dwr:include method="jbolist"/>
            <dwr:include method="jbo"/>
            <dwr:include method="appname"/>
            <dwr:include method="jxTable"/>
        </dwr:convert>

        <dwr:convert type="exception" class="com.jxtech.jbo.util.JxException"/>
        <dwr:convert type="bean" class="java.lang.Object"/>
    </dwr:configuration>
    <!-- Spring容器中检查拥有@RemoteProxy 和 @RemoteMethod注解的类 -->
    <dwr:annotation-config id="dwrAnnotationConfig"/>
    <!-- 要求DWR将util.js和engine.js映射到dwrController -->
    <dwr:url-mapping/>
    <!-- 开启debug -->
    <dwr:controller id="dwrController" debug="false"/>
    <dwr:annotation-scan base-package="com.jxtech.dwr"
                         scanDataTransferObject="true" scanRemoteProxy="true"/>
</beans>
	