
.icon-drag{
	background:url('icons/drag.png') no-repeat center center;
}
.icon-default{
	background:url('icons/default.png') no-repeat center center;
}
.icon-put{
	background:url('icons/basket_put.png') no-repeat center center;
}
.icon-down-project{
	background:url('icons/downproject.png') no-repeat center center;
}

.icon-imp-project{
	background:url('icons/impproject.png') no-repeat center center;
}
.tableform{
    
}
.icon-searchwbs{
  background:url('icons/search.png') no-repeat center center;
}

.tableform tr th{
    text-align: right;
    font-weight: normal;
}