.table_main td .checkbox_td_label {
    font:9pt/1.6 Verdana;
    border: 1px solid #d7d7d7;
    border-collapse: separate;
    background-color: #f3f3f3;
    empty-cells: show;
    vertical-align: middle;
    text-align: right;
    color: #666;
    padding-right: 5px;
}

.table_main td .checkbox_td_content {
    font:9pt/1.6 Verdana;
    color:#000;
    word-break: break-all;
    border-collapse: separate;
    border: 1px solid #d7d7d7;
    min-width: 180px;
    padding-left: 5px;
}

.checkbox_td_query {
    vertical-align: middle;
    margin-right: 5px;
}
/*开关式checkbox*/
.slide-switch{

}
.slide-switch input{
    display: none;
}
.slide-switch label{
    position: relative;
    display: inline-block;
    width: 64px;
    height: 24px;
    background: url("../images/sprite.png") -200px -250px no-repeat;
    vertical-align: middle;
    cursor: pointer;
}
.slide-switch .open{
    background-position: -100px -250px;
}
.slide-switch .open:hover{
    background-position: -100px -300px;
}
.slide-switch .disable{
    background-position: 0 -250px;
    cursor:not-allowed;
}
.slide-switch .disable:hover{
    background-position: 0 -300px;
}

.slide-switch span{
    position: absolute;
    width: 14px;
    height: 14px;
    top: 5px;
    left: 7px;
    background: url("../images/sprite.png")  -250px -300px no-repeat;
    -webkit-transition: left 0.2s;
    -moz-transition: left 0.2s;
    -ms-transition: left 0.2s;
    -o-transition: left 0.2s;
    transition: left 0.2s;
}
.slide-switch .open span{
    left: 43px;
    background-position: -200px -300px;
}

.slide-switch .disable span{
    background-position: -200px -300px;
    left: 25px;
}