body, form, div, p, img, ul, li, a, input, table, tr, td, button {
  padding: 0;
  margin: 0;
}

input, a {
  outline: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #336ef1;
}
a:hover {
  color: #fa6400;
  text-decoration: none;
}

html, body {
  width: 100%;
  height: 100%;
}

form {
  height: 100%;
}

#headerBg .headerAction .action .action_exit:before {
  background-position: 0 0;
}

#headerBg .headerAction .action .action_home:before {
  background-position: -50px 0;
}

#headerBg .headerAction .action .action_skin:before {
  background-position: -100px 0;
}

#headerBg .headerAction .action .action_language:before {
  background-position: -550px -350px;
}

.skins .skins-cont-top {
  background-position: -150px 0;
}

#headerBg .skin-header li.on {
  background-position: -700px 0;
}

.skins .skins-list .skin-simple {
  background-position: 0 -50px;
}

.skins .skins-list .skin-classics {
  background-position: -150px -50px;
}

.skins .skins-list .skin-tabs {
  background-position: -300px -50px;
}

.skins .skins-list .skin-mobile {
  background-position: -450px -50px;
}

.skins .skins-list .skin-patrol {
  background-position: -300px -50px;
}

.skins .skins-list .skin-dynamic-patrol {
  background-position: -300px -50px;
}

.skins .skins-list div.active span:after {
  background-position: -200px 0;
}

.ui-layout-resizer:before {
  background-position: -250px 0;
}

.ui-layout-toggler-west-closed {
  background-position: -300px 0;
}

.ui-layout-toggler-west-open {
  background-position: -350px 0;
}

.jxMenuDiv .menuAppBar .menuAppBarLeftCorner {
  background-position: -400px 0;
}

.jxMenuDiv .menuAppBar .visitHisBtn {
  background-position: -450px 0;
}

.jxMenuDiv .menuAppBar .searchInput {
  background-position: -500px 0;
}

.menuContainer .icon-module.icon-module-dashboard {
  background-position: -50px -150px;
}

.menuContainer:hover .icon-module.icon-module-dashboard {
  background-position: -50px -200px;
}

.menuContainer .icon-module.icon-module-basinf {
  background-position: -100px -150px;
}

.menuContainer:hover .icon-module.icon-module-basinf {
  background-position: -100px -200px;
}

.menuContainer .icon-module.icon-module-sys {
  background-position: -150px -150px;
}

.menuContainer:hover .icon-module.icon-module-sys {
  background-position: -150px -200px;
}

.menuContainer .icon-module.icon-module-pm {
  background-position: -200px -150px;
}

.menuContainer:hover .icon-module.icon-module-pm {
  background-position: -200px -200px;
}

.menuContainer .icon-module.icon-module-proloan {
  background-position: -250px -150px;
}

.menuContainer:hover .icon-module.icon-module-proloan {
  background-position: -250px -200px;
}

.menuContainer .icon-module.icon-module-cccadj {
  background-position: -300px -150px;
}

.menuContainer:hover .icon-module.icon-module-cccadj {
  background-position: -300px -200px;
}

.menuContainer .icon-module.icon-module-activation {
  background-position: -350px -150px;
}

.menuContainer:hover .icon-module.icon-module-activation {
  background-position: -350px -200px;
}

.menuContainer .icon-module.icon-module-makeinvent {
  background-position: -400px -150px;
}

.menuContainer:hover .icon-module.icon-module-makeinvent {
  background-position: -400px -200px;
}

.menuContainer .icon-module.icon-module-dealerstat {
  background-position: -450px -150px;
}

.menuContainer:hover .icon-module.icon-module-dealerstat {
  background-position: -450px -200px;
}

.menuContainer .icon-module.icon-module-regiinfo {
  background-position: -500px -150px;
}

.menuContainer:hover .icon-module.icon-module-regiinfo {
  background-position: -500px -200px;
}

.menuContainer .icon-module.icon-module-dealinfmai {
  background-position: -550px -150px;
}

.menuContainer:hover .icon-module.icon-module-dealinfmai {
  background-position: -550px -200px;
}

.ui-layout-pane {
  border: 0 none;
  padding: 0;
  color: #403e3e;
}
.ui-layout-pane.middle-north {
  background: url(../images/home/pathbg.png) repeat-x;
  line-height: 30px;
  font-size: 12px;
  color: #403e3e;
  padding-left: 5px;
  height: 30px;
  display: block;
}
.ui-layout-pane.ui-layout-pane-west {
  z-index: 10 !important;
}
.ui-layout-pane.ui-layout-north {
  background: url(../images/home/head_bg.png) repeat-x;
  height: 56px;
  overflow: visible;
}

.ui-layout-resizer {
  background: transparent;
}
.ui-layout-resizer:before {
  display: block;
  height: 30px;
  content: "";
  background-image: url("/jxweb/skin/default/images/sprites/sprite.png");
  background-repeat: no-repeat;
}

.ui-layout-toggler-west-open {
  background-image: url("/jxweb/skin/default/images/sprites/sprite.png");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}

.ui-layout-toggler-west-closed {
  background-image: url("/jxweb/skin/default/images/sprites/sprite.png");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  width: 9px;
}

#headerBg .headerAction .action .action_skin,
#headerBg .headerAction .action .action_exit,
#headerBg .headerAction .action .action_home,
#headerBg .headerAction .action .action_language {
  display: inline-block;
  font-size: 12px;
  height: 22px;
  line-height: 22px;
}
#headerBg .headerAction .action .action_skin:before,
#headerBg .headerAction .action .action_exit:before,
#headerBg .headerAction .action .action_home:before,
#headerBg .headerAction .action .action_language:before {
  content: "";
  display: inline-block;
  height: 22px;
  line-height: 22px;
  width: 22px;
  margin-right: 3px;
  vertical-align: top;
  background-image: url("/jxweb/skin/default/images/sprites/sprite.png");
  background-repeat: no-repeat;
}

.skins {
  width: 140px;
  top: 22px;
  padding-top: 14px;
  position: absolute;
  left: -15px;
  display: none;
  z-index: 9;
}
.skins .skins-cont {
  position: relative;
  border: 1px solid #ccc;
  background: #fff;
  padding: 15px 8px 5px 8px;
}
.skins .skins-cont-top {
  position: absolute;
  z-index: 2;
  width: 20px;
  height: 14px;
  top: -14px;
  left: 25px;
  background-image: url("/jxweb/skin/default/images/sprites/sprite.png");
  background-repeat: no-repeat;
}
.skins .skins-list li {
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #e6eef2;
  margin-bottom: 10px;
  list-style-type: none;
}
.skins .skins-list li:hover {
  border-color: #fa0;
}
.skins .skins-list li:hover span {
  background-color: #fa0;
}
.skins .skins-list div {
  position: relative;
  width: 120px;
  height: 88px;
  background-image: url("/jxweb/skin/default/images/sprites/sprite.png");
  background-repeat: no-repeat;
}
.skins .skins-list div.active span {
  background-color: #ffaa00;
  padding-right: 22px;
}
.skins .skins-list div.active span:after {
  position: absolute;
  right: 0;
  width: 22px;
  height: 22px;
  content: "";
  background-image: url("/jxweb/skin/default/images/sprites/sprite.png");
  background-repeat: no-repeat;
}
.skins .skins-list span {
  position: absolute;
  right: 2px;
  bottom: 3px;
  background: #8d9294;
  height: 22px;
  line-height: 22px;
  padding: 0 10px;
  border-radius: 10px;
  font-size: 12px;
}

#headerBg {
  background: url(../images/home/headerBg.png) no-repeat;
  position: relative;
  height: 56px;
}
#headerBg .headerLogo {
  position: absolute;
  top: 0;
  left: 20px;
  width: 300px;
  height: 49px;
  background: url(../images/home/logo.png) no-repeat;
}
#headerBg .date {
  position: absolute;
  height: 22px;
  line-height: 22px;
  top: 17px;
  left: 40%;
  color: #fff;
}
#headerBg .date p {
  font-size: 12px;
}
#headerBg .date p span {
  margin-left: 85px;
}
#headerBg .date .appMsg {
  color: #ff0;
  font-weight: 700;
}
#headerBg .headerAction {
  position: absolute;
  top: 17px;
  height: 22px;
  right: 50px;
  color: #fff;
  white-space: nowrap;
}
#headerBg .headerAction .action {
  padding-left: 10px;
  position: relative;
  cursor: pointer;
  display: inline-block;
}
#headerBg .headerAction .action a {
  color: #fff;
  margin-left: 5px;
  text-decoration: none;
}
#headerBg .skin-header {
  position: absolute;
  right: 50px;
  top: 40px;
  overflow: hidden;
}
#headerBg .skin-header ul {
  list-style: none;
}
#headerBg .skin-header li {
  width: 14px;
  height: 14px;
  margin-left: 3px;
  cursor: pointer;
  float: left;
}
#headerBg .skin-header li.on {
  background-image: url("/jxweb/skin/default/images/sprites/sprite.png");
  background-repeat: no-repeat;
}
#headerBg .skin-header li.skin-blue {
  background-color: #0a6bba;
}
#headerBg .skin-header li.skin-green {
  background-color: #36d900;
}
#headerBg .skin-header li.skin-yellow {
  background-color: #ff9326;
}
#headerBg .skin-header li.skin-red {
  background-color: #ff2626;
}

.header-bottom {
  width: 100%;
  height: 3px;
  background: #c7f0fc;
}

.menuContainer .icon-module {
  background-image: url("/jxweb/skin/default/images/sprites/sprite.png");
  background-repeat: no-repeat;
  background-position: 0 -150px;
  width: 22px;
  height: 22px;
  display: inline-block;
}
.menuContainer:hover .icon-module {
  background-position: 0 -200px;
}

.jxMenuDiv {
  background: #f7f7f8 url("/jxweb/skin/default/images/menu/menu-right-border.png") right top repeat-y;
  bottom: 0;
  color: #5d5a5a;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px 0 40px;
  position: absolute;
  top: 0;
  width: 263px;
  z-index: 1000;
}
.jxMenuDiv .menuAppBar {
  position: relative;
  height: 30px;
  padding: 15px 0 10px 0;
  overflow: hidden;
}
.jxMenuDiv .menuAppBar .menuAppBarLeftCorner {
  height: 30px;
  width: 12px;
  left: 20px;
  position: absolute;
  background-image: url("/jxweb/skin/default/images/sprites/sprite.png");
  background-repeat: no-repeat;
}
.jxMenuDiv .menuAppBar .menuAppBarContent {
  background: url("/jxweb/skin/default/images/menu/titlebarbg.png") repeat-x;
  height: 30px;
  left: 32px;
  position: absolute;
  right: 0;
}
.jxMenuDiv .menuAppBar .visitHisBtn {
  background-image: url("/jxweb/skin/default/images/sprites/sprite.png");
  background-repeat: no-repeat;
  width: 17px;
  height: 19px;
  position: absolute;
  left: 10px;
  top: 5.5px;
  cursor: pointer;
}
.jxMenuDiv .menuAppBar .searchInput {
  background-image: url("/jxweb/skin/default/images/sprites/sprite.png");
  background-repeat: no-repeat;
  width: 175px;
  height: 24px;
  float: left;
  position: absolute;
  left: 40px;
  top: 3px;
}
.jxMenuDiv .menuAppBar .input-txt {
  height: 23px;
  line-height: 23px;
  width: 145px;
  padding-left: 5px;
  padding-right: 24px;
  background: transparent;
  border: none;
  color: #878383;
}
.jxMenuDiv .menuAppBar .search-btn {
  display: none;
}
.jxMenuDiv .topMenu {
  background: url("/jxweb/skin/default/images/menu/menu_line.png") 20px bottom no-repeat;
  padding-bottom: 2px;
  padding-top: 1px;
}
.jxMenuDiv .topMenu .menuContainer {
  margin: -1px 0 0 15px;
  position: relative;
  z-index: 5;
}
.jxMenuDiv .topMenu .menuItem {
  padding-left: 40px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 55px;
  height: 55px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}
.jxMenuDiv .topMenu .icon-module {
  position: absolute;
  left: 15px;
  top: 16.5px;
}
.jxMenuDiv .topMenu .subMenu {
  display: none;
}
.jxMenuDiv .topMenu:hover .menuItem {
  color: #3486ca;
  font-weight: bold;
  cursor: pointer;
}
.jxMenuDiv .topMenu:hover .menuContainer {
  background-color: white;
}

.popupWin {
  width: 500px;
  background-color: white;
  position: absolute;
  top: 55px;
  z-index: 20000;
  left: 20px;
  box-shadow: 4px 4px 5px gray;
  border-radius: 5px;
  display: none;
  cursor: pointer;
  line-height: 35px;
  overflow: auto;
  padding: 5px 5px 15px;
  min-height: 150px;
}
.popupWin dl {
  padding: 3px 0 12px 0;
  margin: 6px 20px 0 20px;
  overflow: hidden;
  border-bottom: 1px dotted #D9DCE1;
  font-size: 12pt;
}
.popupWin dl:last-child {
  border-bottom: none;
}
.popupWin dt {
  color: #3486ca;
  font-weight: bold;
  float: left;
  line-height: 22px;
  text-align: center;
  margin-right: 8px;
  margin-top: 10px;
  font-size: 14px;
}
.popupWin em {
  border-left: 1px solid #CCC;
  color: #616161;
  float: left;
  height: 14px;
  line-height: 14px;
  margin: 13px 0 4px 0;
  padding-left: 12px;
  padding-right: 12px;
  font-style: normal;
}
.popupWin em:hover {
  color: #ff6000;
}
.popupWin dd {
  overflow: hidden;
  margin-left: 2px;
  font-size: 14px;
}
.popupWin.en {
  width: 680px;
}
.popupWin.en dt {
  width: 130px;
}

.ui-menu.ui-autocomplete .ui-menu-item a {
  color: #5d5a5a;
  line-height: 2em;
}
.ui-menu.ui-autocomplete .ui-menu-item a.ui-state-focus {
  margin: 0;
  color: #3486ca;
  font-weight: bold;
}
