/*******************************************
* 样式表
*******************************************/
/*角色权限管理*/
.ui-widget-content {
    border: none;
}

form[name='pubrole'] .ui-tabs .ui-tabs-nav {
    padding-left: 0;
}

form[name='pubrole']  .ui-tabs .ui-tabs-nav li {
    margin: 0;
}

form[name='pubrole']  .ui-tabs-nav li.ui-tabs-active {
    height: 29px;
    line-height: 29px;
    border-right: 1px #d7d7d7 solid;
    border-bottom: 1px #fff solid;
    border-top: none;
    border-left: none;
    border-radius: 0;
}

form[name='pubrole'] .ui-state-default {
    border-right: 1px #d7d7d7 solid;
    border-top: none;
    border-left: none;
    height: 29px;
    line-height: 29px;
    padding: 0;
    margin: 0;
    border-radius: 0;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #1e52a9;
    font-weight: bold;
}

.ui-widget-header {
    border: none;
    border-bottom: 1px #d7d7d7 solid;
}

.ui-tabs .ui-tabs-nav li {
    margin: 0 0 0 4px;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: none;
}

.ui-tabs .ui-tabs-nav li a {
    padding: 0 15px;
    cursor: pointer;
    font-size: 12px;
}

/*插件控制台start*/
.ui-tabs {
    padding: 3px 0 0 0;
}

.ui-tabs .ui-tabs-nav {
    background: url(../images/tab/ui-tabs-nav-bg.png) repeat-x;
    height: 29px;
    padding: 0 0 0 10px;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    background: #fff url(../images/home/tab-nav-bg.png) repeat-x;
    border-radius: 3px;
    height: 28px;
    line-height: 28px;
    border: 1px #d7d7d7 solid;
    border-bottom: 1px #fff solid;
}

.ui-tabs .ui-state-default {
    background: #f0f5f7 url(../images/home/tab-default-bg.png) repeat-x;
    border: 1px #d7d7d7 solid;
    height: 28px;
    line-height: 28px;
    padding: 0;
    margin-left: 4px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}