/*******************************************
* 处理表格中的所有样式，包括列表中的输入框，对于表单中的表格的输入框样式，参见form.css
*******************************************/
/**
*修复表格在各个浏览器长的不一样的BUG
*/
table {
    border-spacing: 0;
    border-collapse: collapse;
}

/* 新增样式，最外层table*/
.table_main {
    width: 100%;
    border: 0 none;
}

#pubrole .table_main {
    margin-top: 0;
}

#inbox .table_main {
    width: 98%;
}

/* table_main td增加垂直方向的格式 */
.table_main td {
    padding: 0;
    vertical-align: middle;
    height: 30px;
}

/* 新增样式，第二层table */
.table_form {
    width: 100%;
    border: 0 none;
    background-color: #ffffff;
}

.container td {
    vertical-align: top;
}

/**列表的总体样式**/
table.dataTable td {
    padding: 0 0 0 5px;
}

table.dataTable .table_td_multiple {
    padding: 0 5px;
}

.table_list {
    border-color: #7c9cc3;
    vertical-align: top;
    width: 100%;
    border-collapse: collapse;
    position: relative;
}

.table_list td {
    BORDER: 1px solid #d7d7d7;
    font: 9pt/30px Verdana;
    height: 30px;
    padding-left: 0;
    border-collapse: separate;
    empty-cells: show;
    vertical-align: middle;
    color: #666;
}

.table_list td.fillTop {
    border: 0 none;
    padding-left: 10px;
}

/* 列表头 TH样式 */
.table_list thead tr th {
    background: #fff url(../images/th-bg.gif) repeat-x;
    font: bold 9pt/35px Verdana;
    height: 35px;
    padding-left: 0;
    color: #303030;
    empty-cells: show;
    vertical-align: middle;
    border: 1px solid #d7d7d7;
}

.table_list .td_user_show {
    border: medium none;
    padding-left: 15px;
}

/* 列表头中 第一行 table 样式 */
.table_list thead tr td table {
    border: 0 hidden;
    border-collapse: collapse;
    height: 32px;
    width: 100%;
    background-color: #fffff8;
}

.table_list thead tr td table tr td {
    border: 0 hidden;
}

.table_list_thead_clear {
    clear: both;
}

.table_list_thead_table_button1 {
    text-align: left;
    margin-left: 5em;
    float: right;
}

.table_list_thead_table_button2 {
    text-align: right;
    margin-right: 1em;
}

.table_list_thead_table_title {
    color: #4360B4;
    padding: 10px;
    font-size: 10pt;
    font-weight: bold;
}

.table_list tfoot tr td table {
    border: 0 hidden;
    width: 100%;
    height: 32px;
    border-collapse: collapse;
    background-color: #8ba8cb;
}

.table_list tfoot tr td table tr td {
    border: 0 hidden;
}

.table_list_foot {
    background-color: #c0d2e2;
}

.table_list_foot_tip {
    clear: both;
}

.table_head {
    width: 100%;
    margin-bottom: 3px;
}

.table_head tr {
    display: block;

}

.table_th_required:after {
    content: "*";
}

.table_head_td_right {
    text-align: right;
    float: right;
    vertical-align: middle;
}

.table_head_td_left {
    text-align: left;
    float: left;
    vertical-align: middle;
}

.table_head_expand,
.table_head_multiple,
.table_head_single {
    width: 24px;
}

.table_td_multiple, #pubrole #user_listtable .table_td_multiple {
    text-align: center;
}

.table_td_single {
    width: 28px;
}

.table_edit {
    width: 100%;
    vertical-align: top;
    border: 1px solid #d7d7d7;
    border-collapse: collapse;
    border-top: none;
}

.table_edit td {
    height: 30px;
    line-height: 30px;
}

.td_title {
    font: 9pt/1.6 Verdana;
    border: 1px solid #94adca;
    border-collapse: separate;
    background-color: #cad4ee;
    empty-cells: show;
}

.td_content {
    font: 9pt/1.6 Verdana;
    color: #000000;
    word-break: break-all;
    border-collapse: separate;
    background-color: #f1f1ff;
    border: 1px solid #a3a3a3;
}

.head_left {
    float: left;
    color: #4360b4;
    font-size: 14px;
    font-family: "Microsoft YaHei", SimHei;
    vertical-align: middle;
    white-space: nowrap;
}

.head_left .font_Arial {
    display: none
}

.head_right {
    float: right;
    color: #4360b4;
    vertical-align: middle;
    text-align: right;
    margin-bottom: 5px;
}

.head_center {
    color: #4360b4;
    vertical-align: middle;
    text-align: center;
    margin-right: 5px
}

.table_td_labels {
    cursor: hand;
}

/**
** table row 中的输入框样式
**/
table[inputmode='EDIT'] tbody td {
    background-color: rgb(241, 241, 255);
    height: 35px;
}

table[inputmode='EDIT'] input[disabled='disabled'] {
    background-color: rgb(241, 241, 255);
    border: none;
}

input.tdinput {
    margin-left: 2px;
    width: 80%;
    height: 20px;
    line-height: 20px;
    border: 1px solid #c0bebe;
}

input[required=true].tdinput {
    width: 80%;
    padding-right: 16px;
    background: url(../images/required.png) no-repeat right;
}

input.tdinputnum {
    border: 1px solid #c0bebe;
    margin-right: 2px;
    width: 80%;
    height: 20px;
    line-height: 20px;
    text-align: right;
}

input.tdinputdate {
    width: 70%;
    height: 20px;
    line-height: 20px;
    border: 1px solid #c0bebe;;
}

input[required=true].tdinputnum {
    padding-right: 16px;
    background: url(../images/required.png) no-repeat right;
}

.table_thsort {
    cursor: pointer;
}

input[required=true].tdinputdate {
    padding-right: 16px;
    background: url(../images/required.png) no-repeat right;
}

.noresultset {
    color: blue;
    text-align: center;
}

.header-fixed {
    z-index: 99999;
    display: block;
    position: absolute;
    top: 0;
    clear: both;
}

.column-fixed {
    position: fixed;
    display: inline;
}

/**表格列拖动CSS**/
.JColResizer {
    table-layout: fixed;
}

.JColResizer td, .JColResizer th {
    overflow: hidden;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.JCLRgrips {
    height: 0;
    position: relative;
}

.JCLRgrip {
    margin-left: -5px;
    position: absolute;
    z-index: 5;
}

.JCLRgrip .JColResizer {
    position: absolute;
    background-color: red;
    filter: alpha(opacity=1);
    opacity: 0;
    width: 10px;
    height: 100%;
    top: 0;
}

.JCLRLastGrip {
    position: absolute;
    width: 1px;
}

.JCLRgripDrag {
    border-left: 1px dotted black;
}

.expexcel,
.expword,
.custcolumn,
.detach {
    display: none;
}

/**********************以下处理图片列表************************/
.imglistdesc {
    text-align: left;
}

.imglistcheck {
    margin-left: 15px;
}

.imglisttitle {
    margin-left: 10px;
    font-weight: bold;
}

.imglistcontent {
    font-weight: normal;
}

/**********************treetable****************************/
.treeclose {
    background: url("../images/treeplus.gif") no-repeat;
    width: 10px;
    height: 10px;
    margin-left: 10px;
    display: inline-table;
    cursor: pointer;
}

.treeopen {
    background: url("../images/treeminus.gif") no-repeat;
    width: 10px;
    height: 10px;
    margin-left: 10px;
    display: inline-table;
    cursor: pointer;
}

.treechild {
    background: url("../images/treechild.gif") no-repeat;
    width: 10px;
    height: 10px;
    margin-left: 10px;
    display: inline-table;
}

/* 表格行选中 */
.trSelected {
    background-color: lightblue;
}

.dataTables_scrollHeadInner {
    background: #fff url(../images/th-bg.gif) repeat-x;
}

.dataTables_scrollHeadInner table.dataTable thead th {
    border: 1px solid #d7d7d7;
}

table.dataTable thead th {
    padding: 0 5px;
    text-align: center;
}

.bottom {
    height: 34px;
    line-height: 34px;
    padding: 0 15px;
    background: #f7f7f7;
    border: 1px solid #D7D7D7;
    border-top: none;
    font-size: 12px;
}

.btn_column {
    border: 1px solid #4d84e0;
    background: #6085FF;
    vertical-align: middle;
    font: 9pt/20px Arial, 宋体;
    color: #fff;
    height: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
}

.form_td_label font {
    color: #666;
}

.pagesize-select {
    background: #868686;
    border: 1px solid #787878;
    color: #fff;
    padding: 0 2px;
    border-radius: 2px;
}

#listtable_info .pagesize-select:hover {
    color: #fff;
}

#listtable_info span:hover {
    color: #fa6400;
    cursor: pointer;
}

/*角色权限管理*/
.table_list .fillWidth {
    border: 0 none;
}

.td45 {
    line-height: 40px;
    font-size: 12px;
}

.td45 input {
    vertical-align: middle;
}

/*翻页效果*/
.table-tfoot-page-first {
    background: url(../images/table/table-tfoot-page-first.png) no-repeat;
    width: 22px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 2px;
}

.table-tfoot-page-pre {
    background: url(../images/table/table-tfoot-page-pre.png) no-repeat;
    width: 22px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 2px;
}

.table-tfoot-page-next {
    background: url(../images/table/table-tfoot-page-next.png) no-repeat;
    width: 22px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 2px;
}

.table-tfoot-page-last {
    background: url(../images/table/table-tfoot-page-last.png) no-repeat;
    width: 22px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 2px;
}

/*插件控制台*/
.ui-tabs .ui-tabs-panel {
    padding: 15px 10px;
}

.table_list td .table-menubar td {
    padding-left: 10px;
    border: none;
    padding-bottom: 5px;
}

.table-menubar {
    padding: 0;
    margin: auto;
    width: 98%;
}

.table-menubar-title {
    width: 60%;
    text-align: left;
}

.table-menubar-tb {
    width: 40%;
    text-align: right;
}

.fillTop table.dataTable {
    margin-top: 10px;
}

.table-content {
    width: 98%;
    padding: 0;
    margin: 0;
    border-width: 2px;
    border-spacing: 0;
    border-style: none;
    border-collapse: collapse;
    border-color: rgb(193, 218, 215);
    clip: rect(auto auto auto auto);
    position: relative;
    left: 1%;
    right: 1%;
}

.table-content th {
    font: bold 9pt/35px Verdana;
    height: 35px;
    padding-left: 0;
    color: #303030;
    empty-cells: show;
    vertical-align: middle;
    border: 1px solid #d7d7d7;
    background: #fff url(../images/th-bg.gif) repeat-x;
}

.ui-widget-content a {
    color: #336ef1;
    font-size: 12px;
}

.table-content td {
    border: 1px solid #d7d7d7;
    font-size: 12px;
    padding: 5px 10px;
    color: #666;
}

table.list thead td {
    padding: 0 10px 10px;
}

table.list tbody td {
    padding: 0;
}

table.rowTable {
    width: 100%;
    margin-bottom: 30px;
}

.dialog {
    padding-top: 5px;
}

/*#div_user_role {
    margin-top: 5px;
}*/

.td_tittle_bg {
    background: url(../images/table/td_tittle_bg.png) repeat-x;
    height: 30px;
    line-height: 30px;
    border: 1px solid #d7d7d7;
}

table.list tbody .rowTable td {
    padding: 10px;
    height: 20px;
}

.dialog {
    padding-top: 7px;
}

.dataTables_scrollBody {
    min-height: 42px;
}

.btn_expand_tr{
    padding: 0 !important;
    text-align: center;
}

.btn_expand{
    background: url("../images/expand-0.png") no-repeat;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    width: 24px;
    vertical-align: middle;
}

.btn_expand.expanded{
    background: url("../images/expand-1.png") no-repeat;
}

tr.table_expand_tr td{
    padding: 0;
    line-height: 0;
}
tr.table_expand_tr iframe{
    width:100%;
    border: 0 none;
    background: #fff;
}

.expandContext select{
    display: inline-block !important;
}
.expandContext select ~ .select2{
    display: none;
}

.table-filter-th input{
    height: 24px;
    line-height: 20px;
    width: 70%;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 0 2px;
}