/*******************************************
* 样式表
*******************************************/
.logtable {
    width: 100%;
    border: 1px solid #000000;
    margin-top: 10px;
    border-collapse: collapse;
}

.logtable tr td {
    border: 1px solid #d7d7d7;
    height: 30px;
}

.tdlabel {
    background-color: #f3f3f3;
    text-align: right;
    font-size: 12px;
    color: #666;
    padding: 5px;
}

.tdcontent {
    padding-left: 5px;
    font-size: 12px;
}

#wfstep {
    width: 85%;
    margin: 10px;
}

#switch {
    background: #197edc;
    height: 30px;
    padding-left: 15px;
}

.span_btn {
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    margin-right: 5px;
    color: white;
    padding: 0 15px;
    font-size: 14px;
}

.span_btn:hover {
    color: white;
    background-color: #2592F8;
}

.clicked {
    color: white;
    background-color: #2592F8;

}