@charset "utf-8";
$icon-skins: 'blue', 'white' !default;
$icon-size:50px;
$arrow-size:22px;
//生成图标

@mixin make-icon($name,$x,$y){
    .#{$name} {
        background-position:$x $y;
        visibility: visible;
        @content;
    }
}

@mixin generate-icons($name,$x:0px,$y:0px,$width:$icon-size,$height:$icon-size,$step:$icon-size) {
    @each $skin in $icon-skins {
        @include make-icon("jx-icon-#{$name}-#{$skin}",-$x,-(index($icon-skins,$skin) - 1) * $step - $y);
    }
}

@mixin generate-arrows($name,$x:0,$y:0,$width:$arrow-size,$height:$arrow-size,$step:$icon-size){
    @each $skin in $icon-skins {
        @include make-icon("jx-arrow-#{$name}-#{$skin}",-$x,-(index($icon-skins,$skin) - 1) * $step - $y);
    }
}

//生成皮肤
@mixin generate-icon-appearance($name) {
    .jx-icon.#{$name} {
        @content;
    }
}