@charset "utf-8";
.pushbutton {
    background: getAbsoluteBackgroundImage('pushbutton/toolbar_btn.png') repeat-x;
    color: #000;
    font-size: 12px;
    height: 28px;
    line-height: 28px;
    padding: 0 15px;
    display: inline-block;
    border: 1px #ccc solid;
    border-radius: 2px;
    cursor: pointer;
    margin: 5px 5px 5px 0;
    &:hover{
        background-image:getAbsoluteBackgroundImage('pushbutton/toolbar_btn_hover.png');
        color: #fff;
        border-color: #0e6fa6;
    }
    &[disabled="disabled"]{
        border: 1px #ccc dashed;
        color: #ccc;
        cursor: not-allowed;
        &:hover{
            background: url(../images/pushbutton/toolbar_btn.png) repeat-x;
        }
    }
    .table_head_td_right &{
        margin-top: 0;
        line-height: 0;
    }
    .head_right &{
        margin: 0;
    }
}
.head_right .btn_href {
    margin: 0;
}
